<div class="joule-invoke">

    <div ng-select
         class="joule-invoke-wallet-select"
         ng-model="selectedWallet"
         ng-select-change="onSelectWallet"
         ng-model-list="pageContent.wallets"
         ng-select-options="{class: 'select-1', label: 'wallet', icon: 'type', iconPath: '/static/images/web3-clients/'}"></div>



    <div class="table-from-blocks base-rounded-section with-status">
        <div class="table-from-blocks_head base-rounded-section">
            <div class="table-from-blocks_head_th">
                <span class="cell-content">Contract address</span>
            </div>
            <div class="table-from-blocks_head_th">
                <span class="cell-content">Invoke date/time</span>
            </div>
            <div class="table-from-blocks_head_th">
                <span class="cell-content">Gas limit</span>
            </div>
            <div class="table-from-blocks_head_th">
                <span class="cell-content">Gas price (GWei)</span>
            </div>
            <div class="table-from-blocks_head_th reward-cell">
                <span class="cell-content">Registered</span>
            </div>
            <div class="table-from-blocks_head_th reward-cell">
                <span class="cell-content">Status</span>
            </div>
        </div>
        <div class="table-from-blocks_content">
            <div class="table-from-blocks_body"
                 ng-scrolled-block="{
                watcher: showScrollParams.watcher,
                showed: true,
                maxHeight: 400,
                itemSelector: '.table-from-blocks_body_tr'
            }">
                <div ng-repeat="contract in contractsList" class="table-from-blocks_body_tr">
                    <div class="table-from-blocks_body_tr_td">
                        <a class="contract-address cell-content"
                           ng-attr-title="{{contract.address}}"
                           target="blank"
                           ng-attr-href="{{etherscanLink}}address/{{contract.returnValues._address}}">{{contract.returnValues._address}}</a>
                    </div>
                    <div class="table-from-blocks_body_tr_td">
                        <span class="cell-content" style="white-space: pre">{{contract.returnValues._timestamp * 1000 | date : 'yyyy-MM-dd\nHH:mm'}}</span>
                    </div>
                    <div class="table-from-blocks_body_tr_td">
                        <span class="cell-content">{{contract.returnValues._gasLimit | separateNumber}}</span>
                    </div>
                    <div class="table-from-blocks_body_tr_td">
                        <span class="cell-content">{{web3Utils.fromWei(contract.returnValues._gasPrice, 'gwei')}}</span>
                    </div>
                    <div class="table-from-blocks_body_tr_td">
                        <span class="cell-content">{{contract.blockHashInfo.timestamp * 1000 | date : 'yyyy-MM-dd\nHH:mm'}}</span>
                    </div>
                    <div class="table-from-blocks_body_tr_td reward-cell">
                        <button ng-if="!contract.unregistered && !contract.expired && !contract.transactionInProgress && !contract.invoked"
                                class="btn btn-icon red-color without-padding"
                                title="Remove"
                                ng-click="unregisterContract(contract)">
                            <i class="icon-delete-button"></i>
                            <span>Remove</span>
                        </button>
                        <div class="cell-content">
                            <span ng-if="contract.unregistered" class="red-color">Removed</span>
                            <span ng-if="contract.invoked" class="black-color">Called</span>
                            <span ng-if="contract.expired" class="ready-color">Ready for call</span>

                            <div ng-if="contract.transactionInProgress">
                                <div class="preloader-container">
                                    <div class="preloader-circle preloader-circle-1 blue-color"></div>
                                    <div class="preloader-circle preloader-circle-2 blue-color"></div>
                                    <div class="preloader-circle preloader-circle-3 blue-color"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <a ui-sref="main.registration" class="btn submit-btn" type="submit">
        <span>Register a contract</span>
    </a>

</div>