.joule-invoke {
  width: 100%;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0 5em;
  &-wallet-select {
    margin-bottom: 1.4em;
  }
  &-wallet-balance {
    font-size: 1.4em;
    margin-bottom: 1em;
  }
  &-warning {
    color: #fff;
    margin: 2em 0;
    &_icon, &_text {
      vertical-align: middle;
    }
    &_text {
      font-size: 1.2em;
      a {
        color: inherit;
      }
    }
    &_icon {
      margin-right: 0.5em;
      width: 1.5em;
      height: 1.5em;
    }
  }
}
.soon-ready-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}


.table-from-blocks {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  &_content {
    max-height: 40em;
    overflow: auto;
  }
  &_head, &_body_tr {
    &:after {
      clear: both;
      content: '';
      display: block;
    }
    &:first-child &_td {
      padding-top: 2em;
    }
    &:last-child &_td {
      padding-bottom: 2em;
    }
  }
  &_head_th {
    line-height: 2.4em;
    color: #878787;
  }
  &_head_th, &_body_tr_td {
    float: left;
    padding: 1em 1.5em;
    box-sizing: border-box;
    .cell-content {
      font-size: 1.4em;
    }
    .contract-address {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:nth-child(1) {
      width: 25%;
    }
    &:nth-child(2) {
      width: 25%;
    }
    &:nth-child(3) {
      width: 25%;
    }
    &:nth-child(4) {
      width: 25%;
    }
  }
  &.with-reward &_head_th, &.with-reward &_body_tr_td {
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 20%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 20%;
    }
    &:nth-child(5) {
      width: 20%;
    }
  }

}

