.btn {
  border: 0 none;
  box-sizing: border-box;
  padding: 1.3em 3em;
  font-weight: bold;
  border-radius: 2.1em;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  &[disabled] {
    opacity: 0.5;
  }
  &:not([disabled]) {
    cursor: pointer;
  }
  &:not([disabled]):not(.btn-transparent) {
    &:hover, &:focus {
      box-shadow: 0 0.4em 1.3em rgba(0, 0, 0, 0.2);
    }
    &:active {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  span {
    font-size: 1.6em;
    line-height: 1em;
  }
  &.submit-btn {
    background-color: #FFF500;
    color: $main-blue-color;
  }
  &.btn-transparent {
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
    &_active {
      border: 1px solid #fff;
    }
  }
}
