
.select-list-container {
  position: absolute;
  z-index: 30;
  font-weight: normal;
  max-height: 30em;
  margin: 0.5em 0;
  overflow: hidden;
  border-radius: 0.6em;
  background-color: #fff;
  color: #000;
  box-shadow: 0 1em 3em rgba(0, 0, 0, 0.25);

//    .select-option {
//      span {
//        box-sizing: border-box;
//        width: 100%;
//        background: 0 none;
//        font-size: 1.5em;
//        line-height: 1.45em;
//        color: #000;
//        padding: 0.95em;
//      }
//      &:hover, &.active {
//        span {
//          //background: $dark-block-background;
//        }
//      }
//    }
//    &.little-size {
//      .select-option {
//        span {
//          font-size: 1.448em;
//        }
//      }
//    }
//  }
//

  .select-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .select-option {
    display: block;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    line-height: 2.4em;
    &.selected {
      &, &:hover {
        background: $main-blue-color;
        color: #fff;
      }
    }
    &-text {
      vertical-align: middle;
      font-size: 1.4em;
    }
    &-icon {
      vertical-align: middle;
      width: 2.4em;
      height: 2.4em;
      margin-right: 0.5em;
    }
    + .select-option {
      border-top: 1px solid #eee;
    }
    &:hover {
      background-color: rgba(32, 110, 255, 0.46);
    }
  }
//  .select-option {
//    span {
//      display: block;
//      text-overflow: ellipsis;
//      overflow: hidden;
//      text-decoration: none;
//      cursor: pointer;
//    }
//  }
}


.select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: default;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  &.hidden-select {
    height: 0;
    overflow: hidden;
  }
  + .select {
    margin-top: 10px;
  }
  select {
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  .hidden-items {
    overflow: hidden;
    height: 0;
    font-size: 15px;
    padding-right: 39px;
  }
  .hidden-items {
    display: block;
    span {
      white-space: nowrap;
      display: block;
    }
  }
  .select-button-text {
    overflow: hidden;
    white-space: nowrap;
  }
  .no-visibility {
    height: 0;
    padding: 0 2em;
    overflow: hidden;
  }
  select, input {
    background: none;
    color: transparent;
    opacity: 0;
  }
}
.select-1 {
  .select-active-area {
    @extend .text-field;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.disabled-value {
      color: #fff;
    }
    &:after {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -3px;
      width: 6px;
      height: 6px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: $main-blue-color;
      transform: rotate(135deg);
    }
    &-icon {
      vertical-align: middle;
      width: 1.7em;
      height: 1.7em;
      margin-right: 0.5em;
    }
    &-icon + &-text {
      vertical-align: middle;
    }
  }
  &.active {
    .select-active-area {
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
